@media (max-width: 768px) {
  body {
    background-color: black;
  }

  .heading {
    color: #f5e9ed;
    font-size: 30px;
    line-height: 39px;
  }

  .table thead {
    display: none;
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .stateHover:hover, .confirmHover:hover, .recoverHover:hover, .deathHover:hover {
    color: black;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 15px;
    font-size: 14px;
    color: black;
    background-color: #e8e1e1;
    border: 1px solid blue;
    border-radius: 8px;
  }

  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
}
